body {
  font-size: 16px;
  color: #FFFFFF;
  background-color: #2AABE4;
  font-family: 'Source Sans Pro';
  line-height: 1.2;
}

H1 {
  font-size: 2em; /* 32px*/
  font-style: normal;
  color: #FFFFFF;
  font-family: 'Source Sans Pro';
  line-height: 2em;
}

H3{
  font-size: 1.2em; /* 32px*/
  font-style: normal;
  color: #FFFFFF;
  font-family: 'Source Sans Pro';
  line-height: 1.2em;
  padding-bottom: 10px;
}

P{
  font-size: 1em; /* 16px*/
  text-align:left;
  font-style: normal;
  color: #FFFFFF;
  font-family: 'Source Sans Pro';
  line-height: 1.2em;
  padding-bottom: 10px;
}

nav {
  background-color: rgba(0,0,0,.5);
  float: left;
  position: fixed;
  width: 100%;
  font-size: 1em; /* 16px*/
  text-align:left;
  font-style: normal;
  color: #FFFFFF;
  font-family: 'Source Sans Pro';
  line-height: 1.2;
  text-decoration: none;
}

.logo {
  margin: 20px;
  width: 100px;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  width: 70%;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
  text-decoration: none;
}

a {
  text-decoration: none;
}

a:link { color:#0070BB; } /* unvisited */
a:visited { color:#0070BA; } /* visited */
a:hover { color:#0070BC; } /* mouse over */
a:active { color:#0070BD; } /* selected */

article {
  padding-top: 100px;
}

.container {
  margin: 0 auto;
  width: 50%;
}

figure {
  font-size: 1em; /* 16px*/
  text-align:left;
  font-style: normal;
  color: #FFFFFF;
  font-family: 'Source Sans Pro';
  line-height: 1.2;
}
